<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "forexOffline"
        version     = "1.0.0" >
	
    <name>Forex Offline</name>
    <description>Informator o okolicznych kantorach</description>
	<platform name="android" />
	
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
	<plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />
	<plugin name="Geolocation" value="org.apache.cordova.geolocation.Geolocation" />
	<plugin name="Geolocation" value="CDVLocation" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
</widget>
